body {
	/*font-family: "Lato", Calibri, Arial, sans-serif;*/
	font-family: 'Hammersmith One', "Microsoft YaHei",sans-serif;
	margin: 10px;
	color: #06185c;
	background: #333 url(../img/bg/black_denim.jpg);
	/*background:#205424 url('../img/wrapBg.jpg') no-repeat top center fixed;*/
	min-height:600px;
}
h1, h2, h3, h4, h5, h6 {
	/*font-family: "Lato", Calibri, Arial, sans-serif;*/
	font-family: 'Hammersmith One',"Microsoft YaHei",sans-serif;
	/*font-family: "Microsoft YaHei",Trebuchet MS, Helvetica, sans-serif; */
	font-weight: bold; 
	line-height:100%; 
	margin-top: 1em; 
	margin-bottom: 0.5em;
}
h1 {font-size: 2.6em; color: #000000;}
h2 {font-size: 2.2em; color: #404040;}
h3 {font-size: 1.8em; color: #707070;}
h4 {font-size: 1.4em; color: #909090;}
h5 {font-size: 1.3em; color: #989898;}
h6 {font-size: 1.2em; color: #9c9c9c;}
blockquote{font-size:1em}
li{list-style: none;}
.table{width:auto}

.navbar{
	width:90%;
	margin:0 auto;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);


}

.side-bar{
	float:left;
	width:20%;
	margin:10px 10px 10px 0;
}

.side-bar ul{
	margin-left:0;
	padding-left:1em;
}
.content-detail{
	float:left;
	width:75%;
	padding:0 10px 0 20px;
	border-left:2px solid #dddddd;
}
.content{
	width:80%;
	min-height:450px;
	background: #ffffff;
	border:1px solid #C0C0C0;
	/*firefox*/
	-moz-border-radius: 5px;
	/*css3*/
	border-radius: 5px;
	/*webkit*/
	-webkit-border-radius: 5px;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

	margin:30px auto;
	padding:50px;
}
/*即便content内的内容都是浮动的，也可以讲背景容器撑开*/
.content:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*利用伪类元素给图像ME增加说明文字*/
.intro {
	display: inline-block;
	position: relative;
	margin: 10px;
}

.intro img {
	height:90px;
	display: block;
	max-width: 100%;
	border-radius:50%;
}
.intro::before,
.intro::after {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 5% 0 0 0;
	font-weight: 300;
	color: #89867e;
	text-align: center;
}
.intro::before {
	content: attr(data-title);
	top: 100%;
	height: 35%;
	padding: 5px 0;
	font-size: 15px;
}
.intro::after {
	content: attr(data-description);
	top: 140%;
	width:150%;
	font-size: 14px;
	padding:5px;
	margin-left:-25%;
	opacity:0;

	/*border-top: 1px solid rgba(0,0,0,0.1);*/
}

.title{
	text-align:center;
	margin-bottom:10%;
}
.members ul {
	padding: 0;
	height: auto;
	display: inline-block;
}
.members{
	text-align:center;
}
.members ul li{
	float: left;
	padding: 0 20px;
}
.members ul li + li {
	margin-left:20px;
}
.members ul li a{
	padding:0;
}

.members a:hover::after{
	/*transform: scale(0.5);*/
	transition: all 0.4s ease-in-out;
	border-top: 1px solid rgba(0,0,0,0.4);
	opacity: 1;
}

.members a:hover img{
	transition: all 0.4s ease-in-out;
	transform: rotate(360deg);
	/*border: solid #ddd 5px;*/
	/*margin: -5px;*/
}




