@charset "utf-8";
body,
form,
div,
span,
ul,
ol,
li,
p,
pre,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
em,
a,
fieldset,
legend,
address,
label,
textarea,
select,
input,
figure,
table,
th,
td,
b,
i {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 14px/1.5 Microsoft YaHei, "微软雅黑", MicrosoftJhengHei, "华文细黑", STHeiti, MingLiu;
}
fieldset,
img {
  border: 0;
}
ul,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus,
input,
button,
select,
textarea {
  outline: none;
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-variant: normal;
}
input,
select,
img {
  vertical-align: middle;
}
legend {
  display: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav {
  position: relative;
  background-color: #000;
  padding: 0.5em 2em;
}
nav:after {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}
nav h1,
nav li,
nav a {
  display: inline-block;
  color: #fff;
}
nav ul {
  height: 50px;
  display: inline-block;
  float: right;
}
nav ul:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
nav li {
  margin-right: 1em;
}
nav h1 {
  margin-left: 1em;
}
.logo {
  width: 50px;
  height: 50px;
}
form {
  margin: 1em auto;
}
.form-group {
  margin: 0.5em;
}
.form-group label:first-child {
  display: inline-block;
  width: 40%;
  padding: 0.5em 1em;
  text-align: right;
  vertical-align: top;
}
.form-group p {
  margin-left: 45%;
  font-size: 0.8em;
}
.form-group input {
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 0.1em 0.5em;
  font-size: 0.8em;
  margin: 0.4em 0;
}
.form-group select {
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 0.1em 0.5em;
  font-size: 0.8em;
}
.form-group input[type=submit] {
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  width: 100%;
  padding: 0.8em;
  border-radius: 5px;
  background-color: #1e90ff;
}
.form-group textarea {
  height: 100px;
}
footer {
  text-align: center;
  color: #ddd;
  background-color: #000;
  padding: 1em 2em;
}
body {
  background-color: #cacaca;
}
h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.2em;
  color: #888;
  margin-bottom: 1em;
}
.container:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.main {
  float: left;
  margin-right: 400px;
}
article {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  box-sizing: content-box;
}
aside {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  float: left;
  width: 380px;
  margin: 20px 20px 20px -400px;
}
figure.pic {
  width: 230px;
  margin: 1em;
  padding: 0 1em 1em;
  border: 1px solid #888;
  text-align: center;
  display: inline-block;
}
figure.pic figcaption {
  padding: 1em 0;
}
.author,
time {
  font-size: 0.8em;
  color: #888;
}
article ol li {
  list-style-type: decimal;
  list-style-position: inside;
}
article ol {
  margin: 1em 0;
}
table {
  font-size: 0.8em;
  border: 0.5px solid #ddd;
  width: 100%;
}
td,
tr,
th {
  border-right: 0.5px solid #ddd;
  border-bottom: 0.5px solid #ddd;
  padding: 0.2em;
  text-align: left;
}
tbody tr:last-child td {
  background-color: #e0e0e0;
}
thead {
  background-color: #2e2e2e;
  color: #fff;
}
aside h2 {
  font-size: 1.2em;
  border-left: solid #ddd 2px;
  padding: 0.5em 1em;
}
figure.text_pic {
  margin: 1em 0;
}

/*# sourceMappingURL=.maps/task01.css.map */
