*{
	margin: 0px;
	padding: 0px;
	font-family: 微软雅黑;
	font-size: 15px;
}
.content{
	margin:20px;
	padding: 20px;
	height: 580px;
	background: #eee;
	border: solid 1px #999;
	position: relative;
}
.content .left_part{
	width: 200px;
	background: #fff;
	border: solid 1px #999;
	float: left;
	margin-right: 20px;
}
.content .middle_part{
	background: #fff;
	border: solid 1px #999;
	margin-left: 220px;
	margin-right: 140px;
	padding: 20px;
}
.content .right_part{
	width: 120px;
	background: #fff;
	border: solid 1px #999;
	position: absolute;
	top:20px;
	right:20px;
}
.content img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin: 20px 20px 20px 20px;
	float: left;
}
.content .left_part p{
	margin-top: 20px;
}
.content .middle_part p{
	text-indent: 2em;
}
.content .right_part img{
	margin-top:15px;
}